<%- include('partials/header'); -%>
            <article class="article-block row">
                <h2 class="h2--position h2--text-attributes line--width-full">
                    purchase tickets
                </h2>
        </div>
        <footer>
        </footer>

        <div class="movie-summary">
            <h2>Purchase Summary</h2>
            <p>
              <strong>Movie:</strong>
              <span id="movie-title"></span>
            </p>
            <p>
              <strong>Timeslot:</strong>
              <span id="timeslot"></span>
            </p>
            <p>
              <strong>Tickets:</strong>
              <span id="num-tickets"></span>
            </p>
            <p>
                Do you want to make any changes to your order?
            </p>

            <label>
              Change Movie:
              <select name="movieTitle">

              </select>
            </label>
            <label>
              Change Timeslot:
              <select name="timeslot">
                
              </select>
            </label>
            <label>
              Change Amount:
              <input type="number" name="numTickets">
            </label>
            <button name="confirm">Confirm</button>
            <button name="cancel">Cancel</button>
        </div>
          

        <script>
            const ejsMovie    = '<%- ejsMovie %>';
            const ejsDate     = '<%- ejsDate %>';
            const ejsTime     = '<%- ejsTime %>';
            const ejsAmount   = '<%- ejsAmount %>';
            const ejsSchedule = '<%- ejsSchedule %>';
            const ejsOrderAll = '<%- ejsOrderAll %>';
            </script>
        <script src="./scripts/scriptAll.js"></script>
        <script src="./scripts/scriptTickets.js"></script>
        <script src="./scripts/scriptTooltip.js"></script>
    </body>

</html>